@import url(../nav-footer.css);


.banner {
    width: 100%;
    height: auto;
    display: flex;
}

body {
    background-color: #E8DEDE;
}

.banner-img {
    width: 33.33%;
    object-fit: cover;
    max-height: 680px;
}


h1 {
    text-align: center;
    padding-bottom: 20px;
}

.about-section {
    max-width: 1300px;
    margin: auto;
    align-items: center;
}


p {
    font-size: 24px;
}

.back-link {
    font-size: 20px;
    text-align: right;
    text-decoration: none;
}

.back-link a{
    color: black;
}


@media (max-width: 1440px){

    .about-section {
        max-width: 90%;
    }
    
}