

main {
    background-color: #352828;
}


.create-post-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 615px;
    background-color: white;
    color: black;
    text-align: center;
    padding-top: 2%;
}



.img-frame {
  display: block;
  max-width: 900px;
  max-height: 450px;
  height: 100%;
  width: 100%;
  background-color: blue; /* dette er kun for testform책l, fjern denne linjen n책r du har f책tt bildet til 책 vises */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.checkbox {
    display: flex;
}


form {
    text-align: left;
    padding-top: 2%;
  }
  
  label {
    display: block;
    margin-bottom: 2%;
    font-size: 24px;
  }
  
  input {
    margin-bottom: 2%;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    background-color: #F0F0F0;
  }
  
  