
@import url(../nav-footer.css);
@import url(../carousel.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




body {
    background-color: #E8DEDE;
}



main {
    text-align: center;
}



.filter-posts {
    padding: 2%;
}

.filter-button {
    border: none;
    font-size: 24px;
    font-weight: 700;
    padding-left: 2%;
    background: none;
}

.filter-button:hover {
    text-decoration: underline;
}

.pagination-btn {
    margin-left: auto;
    margin-right: auto;
    background: #9F576B;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 20px;
    border: solid black 1px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.pagination-btn:hover {
    background-color: #542532;
}

#show-less {
    display: none;

}

#blogcard-wrapper {
    width: fit-content;
    max-height: fit-content;
}

#display-container {
    max-width: 1526px;
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 35px;
}

.blogcard-container {
    display: block;
    height: 550px;
    position: relative; 
    border-radius: 5px; 
}



.blogcard-info {
    position: absolute;
    width: 100%;
    background: rgba(53, 40, 40, 0.7);
    display: block;
    flex-direction: column;
    text-align: center;
    bottom: 0; 
    color: white;
    border-radius: 0 0  5px 5px;
}

.blogcard-info h3 {
    padding: 0 20px 0 20px;
}

.blogcard-info p {
    display: none;
}


.blogcard-container:hover p {
    display: block;
}

.blogcard-container:hover {
    box-shadow: 4px 4px 10px 5px  rgb(100 89 89 / 100%);
}

.blogcard-image {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}



@media (max-width: 1440px) {

    #display-container {
        gap: 25px;
    }

    .blogcard-container {
        height: 500px;
    }

}

@media (max-width: 1270px) {


    .blogcard-container {
        height: 350px;

    }


}


@media (max-width: 1008px) {

    .blogcard-container {
        height: 300px;
        max-width: 90%;
        margin: auto;
    }
    
}


@media (max-width: 640px) {


    .blogcard-container {
        height: 200px;
    }
    
}

@media (max-width: 450px) {


    #display-container {

        grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));

    }
    
}