@import url(../nav-footer.css);


body {
  background-color: #352828;

}

main {
  margin: 0;
  padding-top: 5%;
}

.form-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 615px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 2%;
  border-radius: 5px;
  
}

hr {
  width: 80%;

}

form {
  text-align: left;
  padding-top: 2%;
}

.formlabel {
  display: block;
  margin-bottom: 2%;
  font-size: 24px;
}

.forminput {
  margin-bottom: 2%;
  font-size: 20px;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  background-color: #F0F0F0;
}

#registerForm, #loginForm {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;  
}

.password-options {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}

.password-options label {
  font-size: 15px;
}

.submit-btn {
  background-color: #9F576B;
  color: white;
  width: 100%;
  font-size: 24px;
  padding: 5px;
  margin-top: 2%;
  border-radius: 5px;
}

#successMessage {
  display: none;
  text-align: center;
  font-size: 40px;
}

.forminfo {
  margin-top: 0;
}

@media (max-width: 640px) {
  
  .form-container {
    margin-left: 10px;
    margin-right: 10px;
  }



}