@import url(nav-footer.css);


body {
    background-color: #E8DEDE;
}


.blogcard-image {
    max-width: 1000px;
    max-height: 680px;
    text-align: center;
}

#blogpost-container {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%
}