@import url(../nav-footer.css);



body {
    background-color: #E8DEDE;
}



#blogpost-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    max-width: 1100px;
}


.publish-info {
    display: flex;
    width: 100%;  
    margin-bottom: 20px;
}

.avatar-image {
    max-height: 55px;
    padding-right: 10px;
}

.posted-by-date {
    width: 100%;
    font-size: 25px;
    max-width: 1100px;
}


.blogcard-image {
    max-width: 100%;
}

p {
    font-size: 24px;
}

.endQuote {
    font-size: 24px;
    margin-top: 5%;
}

/*Buttons*/

button {
    margin-top: 10px;
    padding: 5px 15px;
    color: white;
    border: solid black 1px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

.admin-btns {
    width: fit-content;
    text-align: right;  
    margin-left: auto;
    align-items: bottom;    

}

.edit-button, #next-button  {
    background: #9F576B;
}

.edit-button:hover, #next-button:hover  {
    background: #542532;
}


.edit-button {
    margin: 0;
}

.delete-button {
    background: black;
    text-align: right;
}

.delete-button:hover {
    background: rgb(110, 5, 5);
    color: white;
}

#prev-button {
    background-color: #52303A;
}

#prev-button:hover {
    background: #9F576B;
}


.navigation-btn {
    justify-content: space-between;
    display: flex;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;  
}

.endQuote {
    text-align: center;
    font-weight: 500;
}





@media (max-width: 1080px) {



    .endQuote {
        font-size: 20px;
    }

    #blogpost-container {
        max-width: 90%;
    }

    .navigation-btn {
        max-width: 90%; 
        margin-top: 2%;
        margin-bottom: 5%;
    }


}


@media (max-width: 640px) {



    .endQuote {
        font-size: 15px;
    }

    .publish-info {
        flex-wrap: wrap;
    }

    .posted-by-date {
        font-size: 15px;
    }

    .avatar-image {
        max-height: 40px;
        padding-right: 5px;
    }
    
}


@media (max-width: 450px) {


    #display-container {
        grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    }
    
    .endQuote {
        font-size: 12px;
    }

    .posted-by-date {
        font-size: 12px;
    }


}