@import url(../nav-footer.css);



body {
    background-color: #E8DEDE;
}



.blogcard-image {
    max-width: 1526px;
    max-height: 750px;
    text-align: center;
}

#blogpost-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    max-width: 1526px;
}



p {
    display: block;
    width: 100%;
    font-size: 24px;
    max-width: 1100px;
}