.carousel-container {
    position: relative;
    max-width: 1526px;
    height: auto;
    width: 100%;
    margin: auto;
    padding-bottom: 2%;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    position: relative;
    display: none; 
}

.carousel-slide.active {
    display: block; 
}

.carousel-slide img {
    width: 100%;
    max-height: 680px;
    object-fit: cover;
    object-position: center;
    display: block;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(53, 40, 40, 0.85);
    color: #E8DEDE;
    padding: 20px 15px 20px 15px;
    border-radius: 2.5px;
    cursor: pointer;
    z-index: 1;
    
}


.left-btn {
    left: 0;
}

.right-btn {
    right: 0;
}

.info-frame {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 460px;
    width: 100%;
    background: rgba(53, 40, 40, 0.7);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.info-frame h3 {
    margin: 0;
    text-align: left;
}

.info-frame button {
    margin-top: 10px;
    padding: 5px 15px;
    background: #9F576B;
    color: white;
    border: solid black 1px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}


@media (max-width: 1200px) {

    .carousel-btn {
        padding: 15px 10px 15px 10px;        
    }

    .info-frame {
        max-width: 300px;
    }

    .info-frame button {
        font-size: 20px;
    }
 }


@media (max-width: 1008px) {


    .info-frame {
        max-width: 250px;
    }

    .info-frame button {
        padding: 2px 5px;
        font-size: 15px;
        border-radius: 2.5px;
    }
    
}


@media (max-width: 640px) {

    .carousel-btn {
        padding: 10px 5px 10px 5px;        
    }
  
    
    .left-btn {
        left: 5px;
    }
    
    .right-btn {
        right: 5px;
    }
    
    .info-frame {
        max-width: inherit;
        width: 100%;
        max-height: fill;
        align-items: center;
        top: initial;
        right: initial;
        padding: 20px 0 20px 0;

    }
    
    .info-frame h3 {
        margin: 0;
        text-align: center;
    }
    
    .info-frame button {
        margin-top: 10px;
        padding: 2px 5px;
        font-size: 15px;
        font-weight: 500;
        border-radius: 2.5px;
    }

    
}