@import url(common.css);






/*navbar*/

header {
    background-color: #645959;
    color: white;
}

nav {
    max-width: 1526px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding-bottom: 1%;
    position: relative;
}

.nav-logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-logo {
    max-width: 207px;
}

nav a {
    text-decoration: none;
    color: white;
}

.admin-nav {
    text-align: right;
    font-size: 20px;
    padding-top: 20px;
}

#admin-nav-link1 {
    padding-right: 2%;
    border-right: 2px solid white;
    outline: none;
}

#admin-nav-link2{
    padding-left: 1%;
}


.main-nav {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
}

.main-nav-link1{
    padding-right: 5%;
    border-right: 2px solid white;
    outline: none;
}

.main-nav-link2{
    padding-left: 5%;
}


.small-nav {
    display: none;
    z-index: 1;
    position: static;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
}






/*footer*/

footer {
    background-color: #645959;
    color: white;
    margin-top: 10%;
}

footer a {
    text-decoration: none;
    color: white;
}

.foot-nav-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    padding-bottom: 1%;
}

.foot-logo {
    transform: rotate(-30deg);
    max-width: 245px;
}

.foot-nav {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.foot-nav-ul {
    list-style: none;
    padding-top: 5%;
}

.foot-nav-ul li {
    padding-top: 3%;
}


.foot-head {
    text-decoration: underline;
}



.admin-foot {
    text-align: center;
}


#admin-foot-link1 {
    padding-right: 2%;
    border-right: 2px solid white;
    outline: none;
}

#admin-foot-link2 {
    padding-left: 2%;
}


.foot-end {
    text-align: center;
    margin: 0;
    font-size: 25px;
    padding-bottom: 1%;
}



/*media*/ 

@media (max-width: 1200px) {
    

    .main-nav {
        font-size: 25px;
    }

    .foot-nav-container {
        font-size: 25px;

    }

    .foot-logo {
        max-width: 200px;
    }


}



@media (max-width: 1008px) {

    nav {
        width: 100%;
    }

    .main-nav, .admin-nav{
        display: none;
    }

    .header-hr {
        display: none;
    }


    .small-nav.activ {
        display: flex;
        position: absolute; 
        flex-direction: column;
        text-align: center;
        align-items: center;
        background-color: #645959;
        color: white;
        width: 100%;
        z-index: 2; 
        padding: 20px 0  20px;
    }

    .small-nav-li {
        list-style: none;
        font-size: 24px;
        padding: 0;
        margin-bottom: 0;
        margin-top: 0;
    }

    .small-nav-li a.activ {
        background-color: #786c6c;
        padding: 0 50px 0 50px;
        
    }

    .small-nav-li li {
        padding: 10px 0 10px;
    }

    .hamburger {
        display: block;
        position: absolute; 
        right: 40px;
        padding-top: 40px;
        z-index: 1; 
    }

    .bar {
        text-align: right;
        align-items: right;
    }

    .nav-logo {
        max-height: 100px;
    }




    
    .foot-nav-container {
        font-size: 20px;
        text-align: center;
        border-bottom: 2px solid white;
        padding-bottom: 2%;
    }
    
    .foot-logo-container {
       max-width: 100%; 
       order: -1;
       border-bottom: 2px solid white;
    }
    
    .foot-logo {
        transform: rotate(-30deg);
        max-width: 145px;
        padding-bottom: 4%;
    }
    
    .foot-nav {
        display: flex;
        flex-direction: column;
    }
    
    .foot-nav-ul {
        list-style: none;
        padding-top: 2%;
        flex: end;
        order: 1;
        padding-left: 0;
    }
    
    .foot-nav-ul li {
        padding-top: 2%;
    }    


    
    .admin-foot a {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2%;
    }
    
    #admin-foot-link1 {
        padding-right: 0;
        width: fit-content;
        padding-bottom: 2%;
        border-right: none;
        border-bottom: 2px solid white;
        
    }
    
    #admin-foot-link2 {
        padding-left: 0;
        padding-top: 2%;
    }
    
    
    .foot-end {
        text-align: center;
        font-size: 20px;
        padding-top: 2%;
        padding-bottom: 2%;
    }


    
}


@media (max-width: 640px) {

    .nav-logo {
        max-height: 70px;
    }

    .foot-logo {
        max-width: 90px;
    }

    .foot-nav-container {
        font-size: 15px;
    }

    .foot-end {
        font-size: 10px;
    }
}

@media (max-width: 360px) {

    .nav-logo {
        max-height: 70px;
    }

    .hamburger {
        padding-top: 35px;
    }

    .foot-logo {
        max-width: 80px;
    }

}

